@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Coming+Soon&display=swap');
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}


.Nama {
    width: 50px;
    margin: auto;
    float: inline-start;
}

.judul h1 {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color:#F8B400;
}

.isi {
    float: left;
}


.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
}

.kolom .deskripsi {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #A1E3D8;
}

.kolom h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #1A132F;
    width: 100%;
    line-height: 50px;
}

.kolom p {
    font-size: 30px;
    color: #FFE61B;
}